/* logo pic on top of page */
.pic img {
    width: 16%;
    /* height: -10%; */
    object-fit: cover;
    margin-left: 370px;
    /* margin-bottom: px; */
    margin-top: -100px;
}


/* navigation bar */
.navbar {
    font-weight:bold;
}

.nav-link {
    color:#acff07;
    margin-right: 5px;
    margin-left: 10px;
}


.mr-auto{
    margin-left: 30px;
}

.ml-auto {
    margin-left: auto;
    margin-right: 30px;
}


/* website background picture */
body{
    background-image: url('./assets/tennisPlayer.jpg');
    background-size:100%;
    background-repeat: no-repeat; /* Prevent image repetition */
    background-attachment: fixed;
    background-position: center center;
    flex: 1; /* Use flex: 1 to make the main container take up the remaining vertical space */
    padding-top: 100px;
  }

  

 /* below are the styling for search form in SearchForm component*/

.tennis-search-form {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.tennis-search-form label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
    color:#090909;
}


.zip-code-input {
    position: relative;
}

.zip-code-input input[type="number"] {
    background-color: #f1f1f1;
    border:#acff07;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 16px;
    width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* .tennis-ball-input::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    transform:matrix3d(10px);
    width: 20px;
    height: 20px;
    /* background-image: url("tennis-ball-image.png"); Replace with your tennis ball image */
    /* background-size: cover;
    background-repeat: no-repeat;
  } */


.tennis-level-select select {
    background-color: #f1f1f1;
    border: none;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 16px;
    width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

  /* .tennis-level-select::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url("tennis-racket-image.png"); /* Replace with your tennis racket image */
    /* background-size: cover;
    background-repeat: no-repeat;
  } */ 

 
.tennis-search-button {
    background-color:#090909;
    border: none;
    border-radius: 50px;
    padding: 14px 20px;
    font-size: 16px;
    color: white;
    cursor:pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    align-self:baseline;
}
  
.tennis-search-button:hover {
    background-color: #45a049;
}



/* below are the styling for search message in Home component*/

.home-container {
    /* background-color: #45a049; */
    padding: 20px;
  }

.home-container h2 {
    color:#acff07;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}


.home-container .no-match-message {
    color: #fff;
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    font-size: larger;
  }


/* below are the styling for search result in TennisUser component*/

.tennis-user-card {
    width: 30rem;
    background-color:white;
    border-radius: 200%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:left;
    overflow: hidden; /* Hide any content that overflows (to maintain circular shape) */
    position: relative; 
}



/* .tennis-user-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 200%;
    opacity:1.0;
  } */
    
  
.tennis-user-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
.tennis-user-card .user-info-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 6px;
  }

.tennis-user-card .user-info-zip-code {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 6px;
  }

.tennis-user-card .user-info-email {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 6px;
  }
  
  
.tennis-user-card .user-info-skill-level {
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50;
    margin-top: 10px;
  }

.tennis-user-card .user-info-preferences {
    font-size: 16px;
    font-weight: bold;
    color: #181b18;
    margin-top: 10px;
  }