.pic img {
    width: 18%;
    height: 5%;
    object-fit: cover;
    margin-left: 365px;
    /* margin-bottom: px; */
    margin-top: -100px;
}

.navbar {
    font-weight:bold;
}

.nav-link {
    color:#acff07;
    margin-right: 5px;
    margin-left: 10px;
}

/* .nav-link.active {
    color:#acff07;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
} */

.mr-auto{
    margin-left: 30px;
}

.ml-auto {
    margin-left: auto;
    margin-right: 30px;
}

body{
    background-image: url('./assets/tennisPlayer.jpg');
    background-size:100%;
    background-repeat: no-repeat; /* Prevent image repetition */
    background-attachment: fixed;
    background-position: center center;
    flex: 1; /* Use flex: 1 to make the main container take up the remaining vertical space */
    padding-top: 100px;
  }

  

