/* logo pic on top of page */
.logo-pic img {
    width: 18%;
    object-fit: cover;
    margin-left: 270px;
    margin-top: -100px;
    margin-bottom: -20px;
}


/* navigation bar */
.navbar {
    font-weight:bold;
}

.nav-link {
    color:#acff07;
    margin-right: 5px;
    margin-left: 10px;
}


.mr-auto{
    margin-left: 30px;
}

.ml-auto {
    margin-left: auto;
    margin-right: 30px;
}


/* website background picture */

body{ 
  background-image: url('./assets/tennisPlayer copy.jpg');
  background-size:cover;
  background-repeat: no-repeat; /* Prevent image repetition */
  /* background-attachment: fixed; */
  background-position: center center;
  flex: 1; /* Use flex: 1 to make the main container take up the remaining vertical space */
  padding-top: 75px;
}
@media screen and (max-width: 768px) {
/* Adjust background size for smaller screens */
.background-container {
  background-size: contain;
}
}


 /* below are the styling for search form in SearchForm component*/

.tennis-search-form {
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 200px;
 

}

.tennis-search-form label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
    color:#000000;
}


.zip-code-input {
    position: relative;
}

.zip-code-input input[type="number"] {
    background-color: #f1f1f1;
    border:#acff07;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 16px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



.tennis-level-select select {
    background-color: #f1f1f1;
    border: #acff07;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 16px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


 
.tennis-search-button {
    background-color:#255b28;
    border: none;
    border-radius: 50px;
    padding: 14px 20px;
    font-size: 16px;
    color: white;
    cursor:pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-left: 90px;
}
  
.tennis-search-button:hover {
    background-color: #45a049;
}



/* below are the styling for search message in Home component*/

.home-container {
    padding: 20px;
    margin-top: 20px;
  }

.home-container h2 {
    color:#0b0c0b;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    /* background-color: #f1f1f1; */
    /* padding: 10px 20px;
    border-radius: 5px;
    width:100%; */

}


.home-container .no-match-message {
    color: #090808;
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    font-size: larger;
  }


/* below are the styling for search result in TennisUser component*/

.tennis-user-card {
    width: 30rem;
    background-color:white;
    border-radius: 200%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:left;
    overflow: hidden; /* Hide any content that overflows (to maintain circular shape) */
    position: relative; 
}

  
.tennis-user-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
.tennis-user-card .user-info-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 6px;
  }

.tennis-user-card .user-info-zip-code {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 6px;
  }

.tennis-user-card .user-info-email {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 6px;
  }
  
  
.tennis-user-card .user-info-skill-level {
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50;
    margin-top: 10px;
  }

.tennis-user-card .user-info-preferences {
    font-size: 16px;
    font-weight: bold;
    color: #181b18;
    margin-top: 10px;
  }


.contact-info{
  font-weight: bold;
  color:#1b9dc9;
  }

/* below are the styling for user list after search in TennisUserList component*/

.tennis-user-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    max-height:calc(100vh - 200px);
    overflow-y: auto;
    margin-top: 20px;
}


.text-background{
  background-color: #f1f1f1;
  margin: 5%;
}

.about-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* below are the styling for user sign-up form in NewUserForm component*/

.user-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}


.image-container {
  margin-bottom: 20px;
  position:absolute;
  display:flex;
  justify-content: flex-end;
  margin-bottom: 430px;
  margin-left:250px;
}

.tennis-image {
  max-width: 150px; 
}

.registration-form {
  background-color: #f3e595;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h2 {
  text-align: left;
  margin-bottom: 20px;
  color: #070807; 
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: #008080; 
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

.user-form-button[type="submit"] {

  background-color:#255b28;
  border: none;
  border-radius: 50px;
  padding: 14px 20px;
  font-size: 16px;
  color: white;
  cursor:pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-left: 120px;
}

.user-form-button[type="submit"]:hover {
  background-color: #268f9b; 
}


.success-message {
  margin-top: 180px;
  color:#020201;
  font-weight: bold;
  font-size:xx-large;
  margin-left: 500px;
  margin-bottom: 325px;
}

.error-message {
  margin-top: -30px;
  color:#020201;
  font-weight: bold;
  position:absolute;
  display:flex;
  margin-left:100px;
}


/* below are the styling for user info in Proile component*/

.no-personal-profile-msg{
  margin: 100px;
  margin-left: 500px;
}

.profile-container {
  background-color: #f2f6a0;
  border-radius: 20px;
  /* box-shadow: 0 2px 4px rgba(129, 30, 30, 0.1); */
  padding: 20px;
  max-width: 400px;
  margin: 20px;
  margin-left: 500px;
  margin-bottom: 10px;
  text-align: center;
}

.profile-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-container h2 {
  color: #008080; 
  margin-left: 20px;
  margin-bottom: -10px;
}

.profile-container p {
  margin: 20px;

  text-align: left;

}

.profile-info {
  text-align: left;
  margin-bottom: 20px;
  padding:10px;
  border-radius: 10px;
  border:2px solid #008080;
}


.profile-info p {
  position: relative; 
  margin-bottom: 15px; 
}

.profile-info p::before {
  content: "";
  position: absolute;
  top: -5px; 
  left: -10px; 
  width: 20px; 
  height: 20px; 
  /* background-color: #008080; */
  border-radius: 5px; 
}

.profile-info p::after {
  content: "";
  position: absolute;
  bottom: -5px; 
  left: 0; 
  width: 100%; 
  height: 1px; 
  background-color: #008080;
}


.profile-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}

.edit-btn {
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  background-color: #008080; 
  margin-top: 10px;
  margin-right: 100px;
  margin-bottom: 10px;
  margin-left: 100px;
}

.delete-btn {
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  background-color: #f13535; 
  margin-top: -100px;
  margin-bottom: -100px;
  margin-right:100px;
}


/* below code are for save change button after editing in EidtForm component. */
.save-change-button{
  padding:10px 20px;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  background-color: #008080;
  margin:20px;
  margin-top: 30px;
  margin-left: 150px;
  margin-bottom: 0px;
}

/* .black-footer {
  background-color: rgb(9, 10, 9);
  color: rgb(249, 244, 244);
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding: 20px;
  text-align: center;
  position:fix;
  width: 100%;
} */

/* .footer {
  background-color:transparent;
  text-align:center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 18%;
}

.footer-content {
  background-color: #f0f0eb;
  border: 1px solid #37a95f;
  border-radius: 10px; 


} */

.footer-text-center{ 
  background-color:#000000;
  color:rgb(248, 245, 245);
  padding: 15px;
  height:150px;
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: 110px;
  
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add margins between the icons to create spacing */
.social-icons a {
  margin: 0 8px; /* Adjust the margin as needed */
}
/* 
 .footer-text-muted {
  color:white;
} */